.cured {
    background: #F3F9F9;
    padding: 120px 0;
    font-family: "Lato";
    @media (max-width: 650px) {
        padding: 100px 0;
    }
    h3 {
        color: #8f989d;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.3125em;
        margin-bottom: 57px;
        text-align: center;
        @media (max-width: 1100px) {
            margin-bottom: 30px;
        }
    }
    h2 {
        font-size: 2.375em;
        color: #4f5559;
        font-weight: 700;
        margin-bottom: 67px;
        text-align: center;      
        @media (max-width: 1100px) {
            margin-bottom: 30px;
        }
    }
    .age {
        font-size: 23px;
        color: #4f5559;
        font-weight: 400;
        text-align: center; 
        display: block;
    }
    .btn__cnt {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .cured__btn {
        padding: 15px 30px;
        text-align: center;
        display: inline-block;
        border: 2px solid #4f5559;
        color: #4f5559;
        border-radius: 32px;
        font-weight: 700;
        font-size: 1.3125em;
        text-decoration: none;
        transition: .25s ease-in-out;
        &:hover {
            background: #4f5559;
            color: #ffffff;
        }
    }
    .cured__container {
        max-width: 1100px;
        display: flex;
        justify-content: center;
        align-items: stretch;
        margin: 0 auto 70px;
        flex-wrap: wrap;
        .cured__box {
            width: 320px;
            margin: 20px;
            display: flex;
            padding: 35px 0;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background: #ffffff;
            box-shadow: -2px 0 6px rgba($color: #505559, $alpha: 0.5);
            @media (max-width: 1100px) {
                margin: 20px;
            }
            @media (max-width: 350px) {
                width: 280px;
            }
            img {
                margin-bottom: 30px;
            }
            h3{
                text-transform: none;
                font-size: 1.4375em;
                color: #4f5559;
                font-weight: 700;
                margin: 0;
                &:first-of-type {
                    margin-bottom: 8px;
                }
            }
            p{
                margin-top: 20px;
                font-size: 1.0625em;
                line-height: 25px;
                color: #505559;
                font-weight: 400;
                padding: 0 48px;
                margin-bottom: 45px;
            }
        }
    }
}