.footer__top {
    background: #82939D;
    padding: 40px 0;
    font-family: "Lato";
    font-size: 18px; 
    position: relative;
    .footer__findUs {
        position: absolute;
        right: 21.5%;
        bottom: 20px;
        color: #ffffff;
        font-weight: 700;
        @media (max-width: 1150px) {
            right: calc(50% - 40px);
        }
    }
    img {
        margin-bottom: 40px;
    }
    .footer__top__container {
        max-width: 1100px;
        margin: 0 auto;   
        @media (max-width: 1150px) {
            max-width: 800px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @media (max-width: 700px) {
            max-width: 300px;
        }
    }
    .footer__top__content {
        display: flex;
        @media (max-width: 1150px) {
            margin-right: 0;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        @media (max-width:700px) {
            justify-content: center;
            text-align: center;
        }
        .footer__top__column {
            display: flex;
            flex-direction: column;
            margin-right: 130px;
            color: #ffffff;
            @media (max-width: 1150px) {
                margin: 20px;
            }
            .footer__top__column__adress {
                margin-bottom: 25px;
                line-height: 1.3em;
            }
            .footer__top__column__email {
                margin-bottom: 25px;
                line-height: 1.3em;
            }
            .footer__top__column__linkGroup {
                display: flex;
                flex-direction: column;
                margin-bottom: 28px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            strong {
                font-weight: 700;
            }
            &:nth-of-type(2) {
                margin-right: 190px;
                line-height: 1.3em;
                @media (max-width: 1150px) {
                    margin-right: 0;
                }
            }
            &:last-of-type {
                margin-right: 0;
            }
            a{
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
}