header{
    background-color: #fff;
    height: 78px;
    font-size: 16px;
    nav {
        height: 100%;
    }
    .header__container {
        max-width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__logo {
        width: 178px;
        height: 56px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .header__hamburger {    
        display: none;
        width: 35px;
        height: 25px;
        flex-direction: column;
        justify-content: space-between;
        span{
            display: block;
            width: 100%;
            height: 3px;
            background: #505559;
        }
        @media (max-width: 1050px){
            display: flex;
         }
    }
    .header__navigation {
        display: flex;
        .header__navigation__item{
            border-right: 2px solid #505559;
            padding: 0 1vw;
            @media (max-width: 1050px){
               border: none;
               padding: 5px;
            }
            &:last-of-type {
                border-right: none;
            }
        }
        .header__navigation__link {
            font-family: 'Lato', sans-serif;
            text-decoration: none;
            text-transform: uppercase;
            color: #505559;
            font-weight: 700;
            font-size: 1.0625em;
            @media (max-width: 1300px){
                font-size: 0.8em;
            }
        }
        @media (max-width: 1050px){
            display: flex;
            padding: 3vh 0;
            padding-left: 10vw;
            position: absolute;
            top: 78px;
            left: 0;
            width: 100%;
            flex-direction: column;
            background: #fff;
            z-index: 999;
            transition: .3s ease-in;
            opacity: 0;
        }
    }
    .--open {
        opacity: 1;
    }
}
