.landing {
    height: 100vh;
    position: relative;
    background-image: url('images/zdjecie_przyladek.png');
    background-size: cover;
    background-position: center;
    .landing__content {
        position: absolute;
        top: 0;
        left: 15vw;
        background: rgba($color: #2676A9, $alpha: 0.9);
        color: #fff;
        width: 512px;
        padding: 8.5em 6.25em 5.4375em;
        font-weight: 700;
        font-family: "Lato";
        @media (max-height: 675px) {
            left: 0;
            height: 100%;
            width: 100%;
        }
        @media (max-width: 700px) {
            left: 0;
            height: 100%;
            width: 100%;
            padding: 4.5em 8% 2.4375em;
        }
        @media (max-width: 400px) {
            padding: 4.5em 4% 2.4375em;
        }
        h1 {
            margin-bottom: 50px;
            font-size: 63px;
            line-height: 94px;
            color: #ffffff;
            text-align: center;
            @media (max-width: 500px) {
                font-size: 43px;
                line-height: 60px;
            }
        }
        p {
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            margin-bottom: 40px;
            line-height: 30px;
        }
        .btn__cnt {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .landing__btn {
            padding: 15px 30px;
            background: #ffffff;
            border-radius: 34px;
            display: block;
            display: inline-block;
            margin: 0 auto;
            color: #c40040;
            font-size: 25px;
            text-decoration: none;
            margin-bottom: 33px;
            text-align: center;
            transition: .25s ease-in-out;
            &:hover {
                background: #c40040;
                color: #fff;
            }
        }
        h2 {
            color: #ffffff;
            text-align: center;
            font-size: 38px;
            @media (max-width: 500px) {
                font-size: 20px;
            }
        }
    }
}