.ourClinic {
    padding: 125px 0 180px;
    background: #F3F9F9;
    font-family: "Lato";
    @media (max-width: 650px) {
        padding: 65px 40px 90px;
    }
    h3 {
        color: #8f989d;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.3125em;
        margin-bottom: 41px;
        text-align: center;
    }
    h2 {
        font-size: 2.375em;
        color: #00abb4;
        font-weight: 700;
        margin-bottom: 70px;
        text-align: center;
    }
    .ourClinic__container {
        max-width: 1100px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        @media (max-width: 1190px) {
            max-width: 1000px;
        }
        @media (max-width: 1050px) {
            max-width: 600px;
        }
        @media (max-width: 650px) {
            max-width: 100%;
        }
    }
    .ourClinic__box {
        width: 230px;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        padding: 20px;
        margin: 20px;
        box-shadow: -4px 4px rgba($color: #505559, $alpha: 0.5);
        @media (max-width: 1050px) {
            margin: 24px;
        }
        h2 {
            color: #00abb4;
            font-weight: 700;
            font-size: 1.3125em;
            margin: 15px 0 0;
        }
        p {
            color: #505559;
            font-weight: 700;
            font-family: "Lato";
            font-size: 0.875em;
            line-height: 24px;
        }
        img{
            width: 88px;
            height: 88px;
            object-fit: contain;
        }
    }
}